html, body {
    margin:0;
    padding:0;
}

.section, .section #title, a {
    text-align: center;
    font-family: 'IBM Plex Mono';
    text-decoration: none;
    color: white;
}

.one {
    background-color: #ef504d;
}

.two {
    background-color: #2a2a2a;
}

.three {
    background-color: burlywood;
}

.four {
    background-color: navy;
}

/* responsive */
@media only screen and (max-width: 600px) {
    .section h1 {
        font-size: 8pt;
    }
}